<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wen.mapper.FileFolderMapper">
    <resultMap id="FileFolderMap" type="com.wen.pojo.FileFolder">
        <result property="fileFolderId" column="file_folder_id"/>
        <result property="fileFolderName" column="file_folder_name"/>
        <result property="parentFolderId" column="parent_folder_id"/>
        <result property="fileStoreId" column="file_store_id"/>
        <result property="fileFolderPath" column="file_folder_path"/>
    </resultMap>
    <sql id="allField">
        file_folder_id,file_folder_name,parent_folder_id,file_store_id,file_folder_path
    </sql>
    <sql id="noAllField">
        file_folder_name,parent_folder_id,file_store_id,file_folder_path
    </sql>
    <sql id="allProperty">
        #{fileFolderId},
        #{fileFolderName},
        #{parentFolderId},
        #{fileStoreId},
        #{fileFolderPath}
    </sql>
    <sql id="noAllProperty">
        #{fileFolderName},
        #{parentFolderId},
        #{fileStoreId},
        #{fileFolderPath}
    </sql>

    <insert id="addFileFolder" parameterType="com.wen.pojo.FileFolder">
        insert into my_pan.file_folder(<include refid="noAllField"/>)
        values (<include refid="noAllProperty"/>);
    </insert>
    <update id="updateFolderById">
        UPDATE my_pan.file_folder
        SET file_folder_name=#{fileFolderName},
            parent_folder_id=#{parentFolderId},
            file_store_id=#{fileStoreId},
            file_folder_path=#{fileFolderPath}
        where file_folder_id = #{fileFolderId};
    </update>

    <select id="queryFileFolderById" resultMap="FileFolderMap">
        select *
        from my_pan.file_folder
        <where>
            <if test="fileFolderId!=null">
                file_folder_id = #{fileFolderId};
            </if>
        </where>
    </select>

    <select id="queryFoldersByPid">
        select *
        from my_pan.file_folder
    </select>

    <select id="queryFoldersByPId" resultMap="FileFolderMap">
        select *
        from my_pan.file_folder
        where file_store_id = #{storeId}
          and parent_folder_id = #{parentFolderId};
    </select>
    <select id="queryFolders" resultMap="FileFolderMap">
        select *
        from my_pan.file_folder;
    </select>

    <delete id="delFolderById">
        delete
        from my_pan.file_folder
        where file_folder_id = #{fileFolderId};
    </delete>
</mapper>