<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wen.netdisc.user.api.mapper.UserMapper">
    <resultMap id="UserMap" type="User">
        <result property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="loginName" column="login_name"/>
        <result property="passWord" column="pass_word"/>
        <result property="userType" column="user_type"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="email" column="email"/>
        <result property="avatar" column="avatar"/>
        <result property="registerTime" column="register_time"/>
    </resultMap>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id" parameterType="User">
        insert into user(user_name, login_name, pass_word, user_type, phone_number, email, avatar)
        values (#{userName}, #{loginName}, #{passWord}, #{userType}, #{phoneNumber}, #{email}, #{avatar})
    </insert>

<!--    <update id="updateUser">
        update user
        <set>
            <if test="userName!=null and userName!=''">
                user_name=#{userName},
            </if>
            <if test="loginName!=null and loginName!=''">
                login_name=#{loginName},
            </if>
            <if test="passWord!=null and passWord!=''">
                pass_word=#{passWord},
            </if>
            <if test="userType!=null and userType!=''">
                user_type=#{userType},
            </if>
            <if test="phoneNumber!=null and phoneNumber!=''">
                phone_number=#{phoneNumber},
            </if>
            <if test="email!=null and email!=''">
                email=#{email},
            </if>
            <if test="avatar!=null and avatar!=''">
                avatar=#{avatar},
            </if>
            <if test="registerTime!=null ">
                register_time=#{registerTime}
            </if>

        </set>

        where id = #{id};
    </update>-->

<!--
    <select id="queryUseById" parameterType="integer" resultMap="UserMap">
        select *
        from user
        where id = #{id}
    </select>
-->





<!--    <select id="getUserById" resultMap="UserMap">
        select *
        from user
        where id = #{id}
    </select>-->
<!--    <select id="getUserByLName" resultType="User">
        select *
        from user
        where login_name = #{loginName}
    </select>-->

</mapper>